*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}

.photo {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(photos/bg.png) no-repeat;
    background-size: cover;
}

.main {
    text-align: center;
    width: 360px;
    margin: auto;
    color: #0f0f0f
}

.h1 {
    font-size: 3em;
    text-shadow: 1px 1px 1px white;
    color: #00264d;
    margin-bottom: 75px;
    margin-top: 100px
}

.input {
    display: block;
    font-size: 1.3em;
    margin: 30px auto;
    width: 360px;
    height: 50px;
    border: none;
    box-shadow: 0px 0px 4px 0px black;
    box-sizing: border-box;
    padding-left: 15px;
    color: #797979;
    border-radius: 3px;
}

.email {
    background: #ebebeb;
}
.password {
    background: url(photos/password-icon.png) no-repeat 97%, #ebebeb;
}
.text {
    background: #ebebeb;
}

.input:focus{
    color: #34558b;
    border: 1px solid #34558b;
    box-shadow:  0px 0px 5px 2px white;
    background: #ebebeb;
}
.password:focus{
    color: #34558b;
    border: 1px solid #34558b;
    box-shadow:  0px 0px 5px 2px white;
    background: url(photos/password-icon-active.png) no-repeat 97%,  #ebebeb;
}

.login, .registration{
    margin:auto;
    font-size: 16px;
}

.as_admin {
    display: inline-flex;
    position: relative;
    align-items: center;
    user-select: none;
    margin-bottom: 20px;
    margin-top: -10px;
    float: left
}

.as_admin > label {
    float: right;
    font-size: 1.2em;
    margin-left: 20px;
    margin-top: 3px
}

.checkboxField:before {
    margin-left: 1px;
    background-color: white;
    height: 20px;
    outline: 2px solid #fff;
    border: 1px solid #797979;
    border-radius: 0;
    color: white;
    transition-property: background-color, border-color;
    box-sizing: border-box;
    display: inline-block;
    content: close-quote;
    transition-duration: .25s;
    width: 20px;
}

.checkboxField:checked:before {
    background-color: #34558b;
    border-color: white;
}

.submit{
    width: 360px;
    height: 50px;
    box-shadow: inset 0px 0px 2px white;
    box-sizing: border-box;
    margin-top: 10px;
    background: #34558b;
    border: 1px solid #34558b;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.login p a, .registration p a{
    color: black;
    text-decoration: underline
}

/* start NAVBAR styles*/
.smth_h2_ul{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
nav {
    width: 100%;
    height: 62px;
    background: #34558b;
}
.sitename{
    display: flex;
    width: 285px;
    height: 100%;
    float: left;
    padding-left: 15px;
    padding-top: 14px
}
.sitename > h2{
    color: white;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold
}
.sitename > h2::before{
    content: "✔";
    margin-right: 10px;
}
.list_in_head{
    margin-right: 1.5em;
    float: right;
    padding-top: 20px;
    padding-right: 10px
}
.list_in_head li{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
    color: white;
}
.list_in_head a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.profile_pic::before{
    content: url(photos/people.png);
    margin-right: 6px
}
.logout_pic::before{
    content: url(photos/signs.png);
    margin-right: 6px
}
/* end NAVBAR styles*/