@import "../../styles/colors.scss";

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.checkbox {
  display: inline;
}

.header__contest {
  text-align: center;
}

.wrapper {
  h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    color: darken($primaryColor, 15%);
    margin: 0;
  }

  button {
    display: block;
    margin: 0 auto;
  }
}

.task {
  width: 450px;
  height: auto;
  background-color: $primaryColor;
  margin: 1.5em auto;
  padding-bottom: 1em;
  border-radius: 15px;
  border-top: 5px solid $primaryColor;
  border-left: 5px solid $primaryColor;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.5);

  .question {
    font-size: 1.4em;
    color: white;
    text-align: center;
    margin-left: 0.7em;
    margin-right: 0.7em;
  }

  .variant {
    margin: 1em 0;
  }
}

.checker{
  position: absolute;
  margin: 12px 12px 12px 35px;
  cursor: pointer;
}

.answerWrongTest{
  color: white;
  font-size: 1.4em;
  margin-left: 1em;
}

.answerTest, .answerQuestion {
  color: white;
  font-size: 1.4em;
  margin-left: 1em;
}

.answerTest::before, .answerQuestion::before{
  content: "✔";
  margin-right: 10px;
}

.answerWrongTest::before{
  content: "✘";
  margin-right: 10px;
}

.usersListShow {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 2em;
  font-weight: 700;
  color: $primaryColor;
}

.usersListShowSection {
  &:hover {
    cursor: pointer;
    color: lighten($primaryColor, 15%);
  }
  margin: 1em auto;
  max-width: 300px;
}
