@import "../../styles/colors.scss";

.checkbox {
  display: inline;
}

.header__contest {
  text-align: center;
}

.wrapper {
  h2 {
    text-align: center;
    font-size: 2em;
    color: darken($primaryColor, 15%);
  }

  button {
    display: block;
    margin: 0 auto;
  }
}

.mark {
  width: 450px;
  height: auto;
  background-color: lighten($primaryColor, 0%);
  margin: 1.5em auto;
  padding-bottom: 1em;
  border-radius: 15px;
  border-top: 5px solid $primaryColor;
  border-left: 5px solid $primaryColor;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.5);

  p {
    font-size: 2em;
    font-weight: 500;
    margin: 1em;
    color: white;
  }
}

.task {
  width: 450px;
  height: auto;
  background-color: $primaryColor;
  margin: 1.5em auto;
  padding-bottom: 1em;
  border-radius: 15px;
  border-top: 5px solid $primaryColor;
  border-left: 5px solid $primaryColor;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.5);

  .question {
    font-size: 1.4em;
    color: white;
    text-align: center;
    margin-left: 0.7em;
    margin-right: 0.7em;
  }

  .variant {
    margin: 1em 0;
  }

  input {
    border-radius: 10px;
  }
}

.checker{
  position: absolute;
  margin: 12px 12px 12px 35px;
  cursor: pointer;
}

.for_check{
  color: white;
  font-size: 1.4em;
  margin-left: 2.5em;
}